@layer hds.components {
  .hds-popover {
    max-width: min(24rem, var(--available-width));
    padding: var(--hds-sem-surface-measure-padding);
  }

  .hds-popover__title {
    margin: 0;
    color: var(--hds-sem-type-color-label-fg);
    font-family: var(--hds-sem-type-other-label-font-family);
    font-size: var(--hds-sem-type-measure-label-size);
    font-weight: var(--hds-sem-type-other-label-weight);
    line-height: var(--hds-sem-type-measure-label-line-height);
  }

  .hds-popover__description {
    margin: var(--hds-sem-action-measure-gap) 0 0;
  }
}
